.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color); 
  padding: 0.5rem 1rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 97vw;
  max-width: 100%;
}

.logo-img-gray {
  height: 100px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.logo-img-gray:hover {
  transform: scale(1.1); 
}

.list {
  display: flex;
  gap: 1.5rem; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-list a {
  text-decoration: none; 
  color: var(--text-color); 
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.link-list a:hover {
  color: #FF4742; 
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 100%; /* Aumentamos el padding para más espacio */
  }

  .logo-img-gray {
    height: 70px; /* Logo más pequeño en pantallas móviles */
  }

  .list {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-items: flex-start; /* Alineación de los elementos a la izquierda */
  }

  .link-list a {
    font-size: 1.2rem; /* Aumentamos el tamaño de texto para mejorar la legibilidad */
  }
}

/* Estilos adicionales para pantallas muy pequeñas (móviles en apaisado o menos de 480px) */
@media (max-width: 480px) {
  .logo-img-gray {
    height: 60px; /* Logo aún más pequeño */
  }

  .link-list a {
    font-size: 1rem; /* Reducir el tamaño del texto para pantallas muy pequeñas */
  }

  .nav-container {
    padding: 0.8rem; /* Ajustamos el padding para que haya un poco de espacio */
  }
}
